@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Source Sans 3", ui-sans-serif, system-ui, sans-serif;
}

@theme {
    --color-primary: #0f4c75;
    --color-secondary: #3282b8;
    --color-dark: #1b262c;
    --color-success: #bbe1fa;
}
